/* poppins font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/* common CSS */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
p{
    font-size: 1.6rem;
    font-weight: 400;
}
.button{
    border: 1px solid #21B573;
    background-color: #21B573;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 3rem;
    padding: 1rem 2.5rem;
    display: inline-block;
    transition: 0.2s;
}
.button:hover{
    color: #000;
    background-color: #fff;
}
.section-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 3rem 0;
}

/*
  Navbar CSS
*/
.header{
    padding: 1rem 0;
}
.navbar-brand{
    width: 20%;
}
.navbar-brand img{
    max-width: 100%;
}
.menu-items{
    justify-content: right;
}
.nav-link{
    color: #000;
    font-size: 1.6rem;
}

.nav-item{
    padding: 0.5rem 1.5rem;
}
.sign-in-btn{
    padding: 0.5rem 2.5rem;
    background-color: #21B573;
    border: 1px solid #21B573;
    border-radius: 3rem;
    cursor: pointer;
}
.sign-in-btn:hover{
    background-color: #fff;
}
.sign-in-btn:hover .sign-in{
    color: #000;
}
.sign-in{
    color: #fff;
}
/*
   hero section
*/
.hero-content{
    margin: auto 0;
    padding-right: 4rem;
}
.hero-p{
    color: #6C6B6B;
    margin: 2rem 0;
}
.hero-p-question{
    color: #FD511A;

}
.hero-title{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 7rem;
    word-spacing: .1rem;
}
.hero-title span{
    color: #21B573;
}
.about-row{
    display: flex;
    justify-content: space-between;
}
.about-items{
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem;
    width: 23%;
    background-color: #F8FFFB;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s;
}
.about-items:hover{
    background-color: #fff;
    box-shadow: 0rem 1rem 1.5rem -0.5rem #585859;

}
.about-items:nth-child(4){
    margin-right: 0;
}
.about-items img{
    padding: 3rem 6rem;
}
.about-items h4{
    color: #413960;
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: auto;
}
.about-items p{
    color: #585859;
}

.online-courses{
    padding: 2rem 0;
}
.c-title{
    color: #413960;
    padding-bottom: 2rem;
}
.card-deck{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 32%;
    padding: 2rem;
    border: none;
    box-shadow: 0rem 0rem 1.5rem -0.5rem #585859;
}
.card-title{
    color: #413960;
    font-size: 2.4rem;
    font-weight: 500;
    margin: 2rem 0;
}
.card-text{
    color: #585859;
}
.card-btn{
    margin: 2rem 0;
}
.card-date-seat{
    display: flex;
    justify-content: space-between;
    color: #585859;
    font-size: 1.6rem;
    padding-top: 2rem;
}


.testimonial{
    padding: 7rem 0;
}
.t-title{
    color: #000;
}
.testimonial-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19rem;
}
.test-img{
    width: 12rem;
}
.test-text{
    width: 60rem;
}



.footer{
    background-color: #282531;
    padding: 5rem 0 2rem 0;
    color: #fff;
}
.footer-row{
    display: flex;
    justify-content: space-between;
}
.bottom-menu{
    display: flex;
    flex-direction: column;
}
.bottom-menu h5{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.bottom-menuItems{
    color: #fff;
    font-size: 1.6rem;
    margin: 0.3rem 0;
    font-weight: 400;
}
.bottom-menuItems:hover{
    color: #fff;
}
.copyright{
    font-size: 1.6rem;
    text-align: center;
    color: #CDCDCD;
    margin-top: 5rem;
}